.vid-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/*Placed it here too*/
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
}

.vid-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0; 
}

.contact-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.contact {
    position: relative;
    z-index: 2;
}

.card-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}