@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* FONTS */
/* font-family: "Poppins", serif; */
/* font-family: "Roboto", sans-serif; */

/*Color Pallete*/
:root {
  --accent-color-light: #e4b722;
  --accent-color: #cc8f26;
  --back-color: #fbf8ef;
  --box-color: #b4ebe6;
  --shadow-color: #80cbc4;
  --darkest-color: #159a8e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .brand-logo {
    margin-top: 20px;
  }
}

/* PAGE NOT FOUND */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-subtitle {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

/* ABOUT US PRIVACY POLICY CONTACT US FORMAT */
.contact {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN CONTAINER */
.dashboard-main-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background: linear-gradient(to right, #cebef3, rgb(219, 219, 223));
}

.dashboard-container {
  display: flex;
  flex: 1;
}

.main-container {
  flex: 1;
  padding: 0px;
  padding-right: 30px;
  overflow: hidden;
  background-color: var(--back-color);
}

.outlet-area {
  padding: 10px;
}

/* SCROLLABILITY */
.table-container {
  max-height: 750px;
  overflow-y: auto;
}

.table thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

/* FOOTER */
.footer h1,
.footer-links p {
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mb-3 p {
  color: black;
}

/* General */
.container {
  margin-bottom: 20px;
}


/* IN PROGRESS TO BOOTSTRAP */
.logout-btn {
  background-color: var(--accent-color-light);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

h2 {
  margin-bottom: 20px;
}

.total-revenue,
.total-expense {
  font-weight: bold;
  font-size: 1.2em;
}



.w-50 {
  width: 50%;
}

.pb-3 {
  padding-bottom: 1rem;
}

input[type="text"],
input[type="tel"],
select[type="role"],
input[type="date"],
input[type="input"],
select {
  width: 90%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  max-height: fit-content;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 2.5rem;
  color: #159a8e;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 2rem;
  color: #159a8e;
}

h2 svg,
h3 svg {
  margin-right: 10px;
}

p {
  color: white;
  font-size: 1rem;
}

.top-sort {
  display: flex;
  align-items: left;
  gap: 10px;
}

select,
input[type="date"],
input[type="input"] {
  min-width: 150px;
}

.home-dash {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.top-sort {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="number"] {
  min-width: 70px;
  width: 40%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.footer {
  height: fit-content;
}

h2,
.form-label,
.total-expense,
.total-revenue {
  color: black;
}

h2 em {
  color: white;
}

/*Responsiveness*/
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .nav-container {
    min-width: 100%;
  }

  .main-container {
    padding: 0px;
  }

  .top-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
  }

  .brand-text {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }

  .brand-logo {
    width: 70px;
    height: 70px;
  }

  .brand-container {
    height: 15%;
    gap: 5px;
  }

  .menu-container {
    gap: 5px;
  }

  .brand-name {
    font-size: 20px;
    margin: 10px;
    padding: 0;
  }

  .brand-slogan {
    font-size: 12px;
    position: relative;
    margin: 20px;
    padding: 0;
  }

  .contact-us {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contact-us p {
    color: var(--shadow-color);
    font-size: 0.8em;
    margin-bottom: 0;
    padding: 0;
  }

  .container {
    padding-right: 30px;
  }

  .logout-btn {
    background-color: var(--accent-color-light);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  .container {
    margin: 20px;
  }

  h2 {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2.5rem;
    color: #159a8e;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  h3 {
    font-size: 2rem;
    color: #159a8e;
  }

  .navbar-brand {
    display: none;
  }

  .top-sort {
    padding-right: 20px;
  }

  .top-nav-link {
    margin-top: 15px;
  }

  select,
  input,
  input[type="date"],
  input[type="input"] {
    min-width: 100px;
  }
}
