@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* FONTS */
/* font-family: "Poppins", serif; */
/* font-family: "Roboto", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */

.navbar {
  font-family: "Poppins", serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6 -6px gray;
  --webkit-box-shadow: 0 8px 6 -6px gray;
  border-bottom: solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
}

/* FOOTER */

.footer {
  color: white;
  padding: 20px;
  background: #000;
  background: -webkit-linear-gradient(to right, #434343, #000);
  background: linear-gradient(to right, #434343, #000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* PAGE NOT FOUND */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-subtitle {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

/* ABOUT US PRIVACY POLICY CONTACT US FORMAT */
.contact {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DASHBOARD */

.dashboard-main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #cebef3, rgb(219, 219, 223));
}

.dashboard-container {
  width: 95%;
  height: 95vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.nav-container {
  width: 20%;
  height: 95vh;
  background-color: #7033ff;
  padding: 20px;
}

.main-container {
  width: 80%;
  height: 95vh;
  background-color: white;
}

.top-bar {
  height: 80px;
  width: 100%;
  background-color: #f5f7fb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.logo-container {
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
}

.brand-logo {
  width: 70px;
  height: 70px;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 15px;
}

.logout-btn {
  background-color: #7033ff;
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* SIDENAV */

.brand-container {
  display: flex;
  height: 15%;
  width: 100%;
  align-items: center;
  gap: 5px;
}

.brand-name {
  color: white;
  font-size: 20px;
}

.brand-slogan {
  font-size: 12px;
  color: yellow;
  position: relative;
  top: -10px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
}

.menu-active-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  background-color: rgba(26, 8, 63, 0.5);
}

.menu-link:hover {
  background-color: rgba(26, 8, 63, 0.5);
  transition: 0.5s;
}

.contact-us {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  width: 90%;
  color: yellow;
}

/* MAIN CONTAINER */
.outlet-area {
  padding: 10px;
}

/* SCROLLABILITY */
.table-container {
  max-height: 750px;
  overflow-y: auto;
}

.table thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}
