@media (max-width: 1040px) {
  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  .navbar-brand,
  .brand-logo {
    padding: 0;
    margin: 0;
    margin: 0;
  }
}

.container {
  z-index: 999;
  color: white;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
}

.vid-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.vid-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #136a63cc;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 999;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bg-video {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  height: 100vh;
  object-fit: cover;
}
