.custom-navbar {
    background-color: #272727 !important;
    padding: 10px 20px;
}

.custom-brand {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff; 
}

.brand-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.custom-nav-link {
    color: #fff;
    font-size: 1.1rem;
    margin-right: 15px;
}

.custom-nav-link:hover {
    color: #ffc107; 
}

.custom-nav-link.active {
    color: #ff0000 !important;
    font-size: larger !important;
    font-weight: 500 !important;
    border:#fff solid 1px;
    border-radius: 10px;
    
}

.custom-navbar-text {
    color: #fff;
    margin-right: 15px;
    font-size: 1.1rem;
}