.main-container {
    padding: 20px;
}

.container {
    margin-bottom: 20px;
}

.line-graph-container {
    width: 100%;
    height: 400px;
}

.w-50 {
    width: 50%;
}

.pb-3 {
    padding-bottom: 1rem;
}

input[type="text"] {
    width: calc(100% - 200px);
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h1, h2, h3 {
    margin: 0;
    padding: 0 0;
}

h2 {
    font-size: 1.75rem;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 2rem;
    color: #159a8e;
}

h2 svg, h3 svg {
    margin-right: 10px;
}

p {
    color: #159a8e;
    font-size: 1rem;
}